{% extends 'base.html.twig' %}

{% block title %}Modifier un auteur{% endblock %}

{% block body %}
<h1>Modifier un auteur</h1>

{{ form_start(form) }}
{{ form_widget(form) }}
<button type="submit">Mettre à jour</button>
{{ form_end(form) }}

<a href="{{ path('author_list') }}">Retour à la liste</a>
{% endblock %}
